*{
    margin: 0;
    padding: 0;
}

.nav_container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #d5d2d2;
    color: white;
}

.items{
    display: flex;
    list-style: none;
    color: black;
}

.item{
    font-size: 22px;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px;

}

.banner_container{
    width: 100%;
    height: 100vh;
    background-image: url(asset/image/background.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
}

.banner_title{
    font-weight: 700;
    font-size: 85px;
}
.primary_color{
    color: rgb(227, 25, 25);
}

.description{
    font-size: 20px;
    margin: auto;
}

.btn_primary{
    padding: 15px 35px;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px;
}

.btn_hire{
    padding: 15px 35px;
    border: none;
    color: black;
    font-size: 18px;
    margin: 5px;
}

.service_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(asset/image/footer-bg.png),
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    background-blend-mode: overlay;

    color: white;
    padding: 20px;
}

.service_list{
    color: gray;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.service_title{
    font-size: 35px;
    font-weight: 700;
}

.service_description{
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    padding: 10px;
    
}

.author_details{
    display: flex;
    align-items: center;
    
}

.author_description{
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid red;
    margin-top: 50px;
}

.author_img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.service_up{
    display: flex;
}

.service{
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 250px;
    height: 250px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

.service_logo{
    width: 50%;
    padding-bottom: 10px;
}

.service_down{
    display: flex;
}

.service_left_container{
    width: 50%;
}